{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Emails</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "css/bundle.css" %}">
  {% block css_styles %}
  {% endblock %}
  <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
  {% block js_head %}
  {% endblock %}
</head>
<body>
{# Load CSS and JavaScript #}
{% bootstrap_css %}

{% bootstrap_javascript %}

{% include 'navigation.html' %}

{% bootstrap_messages %}

<div class="container">
  {% block content %}
  {% endblock %}
</div>


</body>
{% block js %}
{% endblock %}
</html>