{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css_url %}

{% block js_head %}
  {% include "partials/tiny_mce_template.html" %}
{% endblock %}
{% block content %}
  <div class="row mt-3">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h2> Создать шаблон </h2>
    </div>
  </div>

  <form class="form"
        enctype="multipart/form-data"
        role="form"
        action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-light">Отправить себе</button>
      <button type="submit" class="btn btn-secondary float-lg-right">Создать
      </button>
    {% endbuttons %}
  </form>
{% endblock %}