{% extends "base.html" %}
{% load bootstrap4 %}
{% bootstrap_css_url %}
{% block content %}
  <div class="row mt-3">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h2> Список рассылок </h2>
    </div>
  </div>
  {% if tasks %}
    {% for task in tasks %}
      <div class="card mt-3">
        <div class="card-body">
          <h4 class="card-title">{{ task.name }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">Было
            создано {{ task.created_at }}</h6>
          <p class="card-text">{{ task.description }}</p>
        </div>
        <div class="card-footer">

          <a href="{{ task.get_absolute_url }}" class="card-link">Подробнее</a>
          <a href="{% url 'tasks_pause' task.pk %}" class="card-link">Приостановить(pause)</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
     <div class="row mt-3">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <span class="text-secondary">
        Пока нет ни одной рассылки. Всегда можно
        <a class="text-primary" href="{% url 'tasks_create' %}">создать</a> </span>
    </div>
  </div>
  {% endif %}


{% endblock %}