{% extends "base.html" %}
{% load humanize %}
{% load bootstrap4 %}
{% bootstrap_css_url %}
{% block content %}
  <div class="card my-3">
    <div class="card-header">
      <h2> Шалблон </h2>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5 class="card-title text-muted">Название</h5>
          <p class="card-text">{{ email_template.name }}</p>
        </li>
        <li class="list-group-item">
          <h5 class="card-title text-muted">Описание</h5>
          <p class="card-text">{{ email_template.description }}</p>
        </li>
         <li class="list-group-item">
          <h5 class="card-title text-muted">Тема в письме</h5>
          <p class="card-text">{{ email_template.subject }}</p>
        </li>
        <li class="list-group-item">
            <h5 class="card-title text-muted">HTML контент</h5>
          <div class="card-text border p-3">{{ email_template.html_content|safe }}</div>
        </li>
      </ul>
    </div>
    <div class="card-footer text-muted">
      Создано - {{ email_template.created | naturalday }}
    </div>
  </div>
{% endblock %}